<% content_for :head do %>
  <%= "αβ Ventures | #{@app.firstname}'s Application'" %>
<% end %>
<div class='center hero-unit'>
  When you are finished working on your application, simply save it using the button provided. You may come back to work on your application any time before the deadline. </br></br>
  <%= form_tag('/submit', method: 'post') do %>
    <%= hidden_field_tag :firstname, @app.firstname %>
    <%= hidden_field_tag :lastname, @app.lastname %>

    <h4>Question 1</h4>
    Why are you attracted to the startup sphere? (100 Words)</br></br>
    <%= text_area_tag :q1, @app.q1, placeholder: 'Question 1:', rows: 5, cols: 50 %></br></br>
    <h4>Question 2</h4>

    Name a startup or application that you appreciate. What aspects of it appeal to you? What separates it from other startups or applications? (250 words)</br></br>
    <%= text_area_tag :q2, @app.q2, placeholder: 'Question 2:', rows: 10, cols: 50 %></br></br>

    <h4>Question 3</h4>
    What can you bring to the table? Examples may include technical proficiency, organizational skills, leadership, vision, etc. Describe an experience or two to back up your claims. (250 words)</br></br>
    <%= text_area_tag :q3, @app.q3, placeholder: 'Question 3:', rows: 10, cols: 50 %></br></br>

    <h4>Question 4</h4>
    Are there any ideas you would like to work on, or people you would like to work with?</br></br>
    <%= text_area_tag :q5, @app.q5, placeholder: 'Question 4:', rows: 5, cols: 50 %></br></br>

    <h4>Question 5</h4>
    Please fill out your approximate time commitments for the Fall 2014 semester in the following format: "[Activity]: [Hours/Week]".</br></br>
    <%= text_field_tag :q6_1, question6(@app.q6, 1), placeholder: 'Commitment 1' %></br>
    <%= text_field_tag :q6_2, question6(@app.q6, 2), placeholder: 'Commitment 2' %></br>
    <%= text_field_tag :q6_3, question6(@app.q6, 3), placeholder: 'Commitment 3' %></br>
    <%= text_field_tag :q6_4, question6(@app.q6, 4), placeholder: 'Commitment 4' %></br></br>

    <h4>Question 6 (50 Words Each)</h4>
    <b>Part 1:</b> You are working with a team with no defined leader. One of your teammates steps up to take the reins, but you believe that they are guiding the team in the wrong direction. How do you handle the situation?</br></br>
    <%= text_area_tag :q7_1, @app.q7a, placeholder: 'Question 6P1:', rows: 3, cols: 50 %></br></br>

    <b>Part 2:</b> One of your team members is contributing significantly less to team efforts than the rest are, and morale is running low as a result. How do you motivate this individual without running the risk of alienating them from the project?</br></br>
    <%= text_area_tag :q7_2, @app.q7b, placeholder: 'Question 6P2:', rows: 3, cols: 50 %></br></br>

    <b>Part 3:</b> Describe the quality that you believe is most important to an entrepreneur.</br></br>
    <%= text_area_tag :q7_3, @app.q7c, placeholder: 'Question 6P3:', rows: 3, cols: 50 %></br></br>

    <b>Part 4:</b> (For Engineers): Describe any applicable technologies/languages that you are familiar with, as well as your experience with each.</br></br>
    <%= text_area_tag :q7_4, @app.q7d, placeholder: 'Question 6P4:', rows: 5, cols: 50 %></br></br>

    <h4>Question 7</h4>
    Is there anything else you would like to add? Pitch yourself.</br></br>
    <%= text_area_tag :q8, @app.q8, placeholder: 'Question 7:', rows: 5, cols: 50 %></br></br>

    <%= submit_tag("Save my Application", id: 'submit-button') %>

  <% end %>
</div>
