<!DOCTYPE html>
<html>
<head>
  <title><%= yield :head %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>

</head>
<body>

  <%= yield %>
  <div class="footer navbar-fixed-bottom" id='foot'>
    <%= render 'layouts/footer' %>
  </div>

</body>
</html>
